<!DOCTYPE html>
<head>
    <title>UFC - Unity for Change - ufc.org.il</title>
</head>
<body>
<article>
    <h1>UFC - Unity for Change - ufc.org.il - Вместе изменим мир</h1> 
    <hr>
    UFC - Unity for Change - ufc.org.il - Цели и задачи организации<br>
    <ul>
        <il>Помощь русскоговорящим новым репатриантам и гражданам Израиля в области прав и обязанностей гражданина государства Израиль</il><br>
        <il>Проведение курсов и семинаров для помощи в трудоустройстве</il><br>
        <il>Проведение курсов и семинаров по финансовой грамотности</il><br>
        <il>Проведение курсов и семинаров по правовой и юридической грамотности</il><br>
        <il>Бесплатная юридическая помощь нуждающимся</il><br>
        <il>Организации клубов и встреч направленных на интеграцию на новой родине</il><br>
    </ul>
    
</article>
</body>
</html>